
body {
    height: 100vh;
    display: flex;
    background: rgb(206, 237, 240);
  }
  .memory-game {
    width: 500px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .memory-card {
    width: 100px;
    height: 100px;
    margin: 10px;
    float: left;
    position: relative;
    background-image:url(question-mark.png) ;
    
    
  }
  